.idea
.vscode
.git
.editorconfig
.gitattributes
.gitignore
README.md

tests/
.phpunit.result.cache
phpunit.xml

bootstrap/cache/*.php
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor/
